// EXTEND STYLE IN BASE
// --------------------
@import "../../../plugins/system/t4/themes/base/scss/megamenu";

.t4-megamenu {

  // THE MEGAMENU
  //--------------------------------------------
  .navbar-nav {
    > li {
      margin: 0 $grid-gutter-width;
      
      @include media-breakpoint-down(lg) {
        margin-left: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
      }

      > a,
      > .nav-link {
        padding: $nav-link-padding-y 0;
        text-transform: uppercase;
        font-weight: 600;
      }

      // Parent focus
      &.show {
        > a, .nav-link {
          color: $navbar-light-hover-color;
        }
      }

      // Active item
      &.active {
        > a,
        > .nav-link {
        }
      }

      &:last-child {
        > a,
        > .nav-link {
          border: 0;
        }
      }
    }

    > a {
      display: flex;
      align-items: center;
      margin: 0 $grid-gutter-width;
      flex-direction: column;
      justify-content: center;

      .site-name {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1;
      }

      .site-slogan {
        opacity: 0.7;
      }
    }
  }

  // Dropdown menu
  .dropdown-menu {
    background: $dropdown-bg;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 0;
    border: 0;
    min-width: $dropdown-min-width;
    margin-top: 0;
    padding: $grid-gutter-width / 2 $grid-gutter-width / 1.5;

    @include media-breakpoint-up(lg) {
      background: $dropdown-bg;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    }

    li {
      &:last-child {
        border: 0;
      }

      > a,
      > .nav-link,
      .dropdown-item {
        color: $dropdown-link-color;
        padding: $grid-gutter-width / 4 0;
        white-space: normal;

        &:hover, &:focus, &:active {
          background-color: $dropdown-link-hover-bg;
          color: $dropdown-link-hover-color;
        }
      }

      &.active {
        > a {
          color: $link-hover-color;
        }
      }
    }
  }

  // Parent hover
  .parent {
  }

  .dropdown-toggle {
    &:after {
      margin-top: $spacer/2;
      float: right;
    }
  }

  .dropdown {
    &:hover {
      > .dropdown-menu {
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .mega-col-nav {
    // Col Title
    .mega-col-title {
      border-bottom: 1px solid rgba(255,255,255,0.1);
      color: $headings-color;
      font-size: $h4-font-size;
      font-weight: 300;
      margin-bottom: $spacer / 2;
      margin-top: 0;

      span {
        border: 0;
        padding-bottom: $spacer / 4;
        margin-top: 0;
        padding-top: 0;
      }
    }

    .nav-item {
      > a {
        padding-left: 0;
      }
    }
  }

  
  .mega-nav > li a, 
  .dropdown-menu .mega-nav > li a {
    padding-left: 0;
    padding-right: 0;
  }

  // Mega caption
  .mega-caption {
    bottom: 0;
    position: absolute;
    font-size: 12px;
    white-space: nowrap;
  }


  // Modules in Megamenu
  // -------------------
  .t4-module {
    border-radius: 0;
    border: 0;
  }

  .t4-module .module-inner {
  }

}