// 
// Main Navigation
// -----------------------------------
.navbar {
  // Toggle button
  .navbar-toggler {
    background: rgba(255,255,255,0.1);
    border-radius: 0;
    border: 0;
    color: $white;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    transition: all 0.35s;
    width: 40px;

    i {
      font-size: 18px;
    }

    &:hover {
      background: rgba(255,255,255,0.15);
      cursor: pointer;
      color: $white;
    }  
  }
}

.t4-navbar {
  position: relative;
  padding: 0;
  @include clearfix();

  .navbar {
    float: left;
    min-height: 52px;

    &.navbar-expand {
      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-down($breakpoint) {
            float: none;
            display: block;
            @include clearfix();
          }        
        }
      }    
    }
  }

  // Dropdown
  .dropdown-item {
    &.dropdown-toggle {
      position: relative;

      &::after {
        position: absolute;
        right: $spacer;
        top: 50%;
        margin-top: -2px;
      }
    }
  }

  .nav-item {
    position: relative;
  }
}
 
@include media-breakpoint-up(md) {
  #t4-navbar-collapse {
    display: block !important;
  }

  .navbar-expand-lg #t4-navbar-collapse {
    display: flex !important;
  }
}

// Show toggler button
.navbar-expand {
  @each $breakpoint in in-mapkeys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint) {
      .navbar-toggler {
        display: none;
      }
    }
  }
}


//
// The Nav
.t4-main-nav {
  // T4: Need to make the Nav horizontal on lg media.
  // Because Joomla! add .flex-column to the default menu module
  @include media-breakpoint-up(lg) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }
}


//
// Breadcrumbs
// -----------------------------------
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  li.breadcrumb-item {
    &:first-child {
      color: $gray-500;
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  .divider {
    display: inline-block;
    padding-right: $spacer/4;
    text-align: center;

    &:before {
      color: $gray-400;
      content: "/";
      display: inline-block;
    }

    img {
      display: none;
    }
  }

  .icon {
    margin-right: $spacer/2;
  }
}


//
// Pagination
// -----------------------------------
.pagination {
  margin: $spacer-sm auto;
  flex-wrap: wrap;

  >li {
    margin-bottom: $spacer-xs;
    
    +li {
      margin-right: $grid-gutter-width/3;

      // Landscape phones
      @include media-breakpoint-down(sm) {
        margin-right: 8px;
      } 
    }
  }

  .pagination {
    margin: 0;
  }

  .page-item {

    >a {
      background: $gray-100;
      border-radius: 50% !important;
      border: none;
      color: $gray-500;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      height: 50px;
      line-height: 28px;
      text-align: center;
      width: 50px;

      >span {
        font-size: $h4-font-size;
      }
    }

    &.active {
      a {
        background: #30408D;
        border: none;
        color: $white;

        &:hover {
          background: #30408D;
          opacity: 0.9;
          color: $white;
        }
      }
    }

    &:hover {
      a {
        background: #F0F3FF;
        color: #4d5a64;
      }
    }
  }

  .page-link,
  .pagenav {
    &.disabled {
      color: $gray-500;

      &:hover, 
      &:focus, 
      &:active {
        opacity: 0.8;
        box-shadow: none;
        cursor: default;
      }
    }

    .icon-chevron-left,
    .icon-chevron-right {
      font-size: $font-size-xs;
      margin-right: $spacer-xs;
      text-align: center;
    }

    .icon-chevron-right {
      margin-right: 0;
      margin-left: $spacer-xs;
    }
  }
}

.counter {
  border-radius: $border-radius;
  border: 1px solid $hr-border-color;
  display: flex;
  align-items: center;
  margin: $spacer-sm 0;
  padding: $grid-gutter-width/2 $spacer-xl !important;
  height: 50px;
  order: 2;
}


// Navigation bar
//-----------------------------------
.pagenav {
  list-style: none;
  margin: $spacer*2 0;
  padding: 0;
  text-align: right;
  @include clearfix();

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  li {
    display: inline-block;

    &:first-child {
      margin-right: $spacer/2;
    }

    &:last-child {
      margin-left: $spacer/2;
    }

    a {
      background-color: $gray-200;
      color: $body-color;
      padding: $spacer/2 $spacer;
      &:hover, &:focus, &:active {
        background-color: $gray-300;
        text-decoration: none;
      }
    }

    span:before {
      color: $gray-700;
      font-size: $font-size-xs;
    }
  }
}

// Tabs 
// ----------------------------------
.nav-tabs {
  & + .tab-content {
    padding: $spacer 0;
  }

  .nav-link.active {
    border-bottom-color: $white;
  }
}