// Template variables
@import "vars"; // Modify this for custom colors, font-sizes, etc

// ---------------------
// VIK BOOKING
// ---------------------

.com_vikbooking {
	.t4-main-body {
		select,
		input[type="text"],
		input[type="password"] {
			height: $input-height !important;
			border-radius: $input-border-radius;
			border: 1px solid $input-border-color;
		}

		select {
			width: auto !important;
		}

		.btn,
		input[type="submit"] {
			height: $input-height;
			border: none;
			padding: 1rem 2rem;
			color: $white;
			text-transform: uppercase;

			&:hover{
				opacity: 0.85;
			}
		}
	}

	// Global Style
	.vbmodalrdetails {
		top: -2px;

		a:after {
			border-color: transparent $yellow transparent transparent;
		}
	}
	

	.vbdivsearch {
		.vbo-search-inpblock {
			margin-right: $grid-gutter-width/2;
			margin-bottom: $grid-gutter-width/2;
		}

		.vb-search-inner {
			.vbo-search-num-racblock {
				margin: 0 $grid-gutter-width 0 0;

				//Error IE
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				  align-items: center;
				}

				>div {
					//Error IE
					@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					  flex: none;
					}
				}

				.vbo-search-num-rooms {
					margin: 0 0 $grid-gutter-width/2 0;
					align-self: center;
				}
			}

			.vbo-search-num-rooms {
				//margin-bottom: $grid-gutter-width/2;
			}

			.vbo-search-num-aduchild-block {
				.vbo-search-num-aduchild-entry {
					//margin-left: $grid-gutter-width/3;
				}
			}

			.vbo-search-submit {
				margin-left: 0;
				margin-top: $grid-gutter-width;

				//Error IE
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				  align-self: flex-end;
				}
			}
		}

		label {
			color: $headings-color;
		}

		.input-group {
			input[type="text"] {
				//height: $input-height !important;
				width: 200px !important;
				//border-radius: $border-radius;
			}

			i {
				border: none;
				height: $input-height;
				line-height: $input-height;
				//padding: 0 20px;
				color: $white;
				width: 50px;
			}
		}

		select {
			padding: 4px 20px;
		}
	}

	// Category
	.vblistroomcat {
		font-size: 11px;
		font-weight: 600;
		letter-spacing: 0.02em;
		display: flex;
		align-items: center;

		&:before {
	        content: "\f111";
	        font-size: 8px;
	        display: inline-block;
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			text-align: left;
			margin-right: 6px;
	    }
	}

	// Icon character
	.room_carats {
		margin-bottom: 0;

		.vbtith3 {
			color: $headings-color;
			text-transform: unset;
			font-size: $h4-font-size;
			margin-right: $grid-gutter-width;
			margin-top: 0;
		}

		.vbo-room-carats {
			.vbo-icn-carat {
				color: $gray-500;
				font-size: $h5-font-size;
			}
		}
	}

	// Button
	.goback {
		margin: 0;

		a {
			border-radius: $border-radius;
			border: none;
			color: $white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: $btn-font-size;
			line-height: 24px !important;
			padding: $grid-gutter-width/3 $grid-gutter-width; 

			&:hover {
				opacity: 0.9;
				color: $white;
			}
		}
	}

	.room_buttons_box,
	.vboconfirmbottom {
		// Portrait phones
		@include media-breakpoint-down(xs){
			margin-top: $grid-gutter-width/2;
		}  

		.btn {
			//height: $input-height;
			color: $white;

			&:hover {
				opacity: 0.9;
				color: $white;
			}
		}

		.booknow {
			margin-right: 0;
		}
	}

	// Step
	.vbo-results-head {
		//box-shadow: none;
		margin-bottom: $grid-gutter-width;

		.vbo-results-head-det-lbl,
		.vbcheckinroom-lbl,
		.vbcheckoutroom-lbl {
			font-size: $font-size-base;
			color: $headings-color;
			margin-bottom: 5px;
		}

		.vbo-results-head-det-val,
		.vbcheckinroom-dt,
		.vbcheckoutroom-dt {
			color: $gray-500;
			font-weight: 400;
		}

		.vbo-results-chdates {
			a {
				height: $input-height;
				color: $white;
				line-height: 36px;
				padding: $grid-gutter-width/3 $grid-gutter-width;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}

	// List room
	.room_result,
	.room_resultdiffusage {
		.vblistroomblock {
			border-right: 1px solid $border-color;

			// Picture
			.vbimglistdiv {
				margin: 0;
				flex: 0 0 30%;

				.vbo-roomslist-imglink {
					
				}

				img {
					margin: 0;
					object-fit: cover;
					height: 100%;
					width: 100%;
				}

				.vbmodalrdetails {
					a {
						line-height: 1;
					}
				}
			}

			// Info
			.vbo-info-room {
				padding: $grid-gutter-width/2;

				.vbdescrlistdiv {
					padding: 0;
					display: flex;
					flex-direction: column;

					// Title
					.vbrowcname {
						color: $headings-color;
						font-size: $h4-font-size;
						font-weight: 400;
						order: 1;
					}

					// Category
					.vblistroomcat {
						color: $gray-300;
					}

					// Description
					.vbrowcdescr {
						order: 2;
					}
				}

				// Icon
				.roomlist_carats {

					.vbo-room-carat {
						.vbo-icn-carat {
							color: $gray-500;
							font-size: $h5-font-size;
						}
					}
				}
			}
		}

		.vbcontdivtot {
			padding: $grid-gutter-width/3;

			.vbdivtot {
				.vbdivtotinline {

					// Area Price
					.vbsrowprice {
						margin: 0;

						.vbrowroomcapacity {
							padding: 0;
							margin: 0;

							// Icon person
							i {
								color: $gray-600;
								font-size: 16px;
							}
						}

						.vbsrowpricediv {
							padding: $grid-gutter-width/2 0 $grid-gutter-width/3;
							margin: 0;

							// Price
							.room_cost {
								font-weight: 800;
								color: $red;
								font-size: $h4-font-size;
								line-height: 1;
							}
						}
					}

					// Button
					.vbselectordiv {
						padding: 0;
						width: 78%;

						a, .btn {
							margin-top: 12px;
							border-radius: $border-radius;
							color: $white;
							font-size: $h5-font-size;
							font-weight: 600;
							text-transform: uppercase;
							padding: 12px $grid-gutter-width/2;

							&:hover {
								opacity: 0.85;
							}
						}
					}
				}

				.vbrowroomcapacity {
					i {
						margin-left: 4px;
					}
				}
			}
		}
	}


	// COMPONENT STYLE

	.vbclistheadt {
		font-size: $h2-font-size;
		margin-top: 0;
		opacity: 1;

		// Mobile view
		@include media-breakpoint-down(sm) {
			font-size: $h3-font-size;
		}
	}

	.vbcatdescr {
		margin-bottom: $grid-gutter-width;
	}

	.vblistcontainer {
		padding: 0;
	}

	// Room list
	ul.vblist {
		@include make-row();

		li.room_result {
			background: $white;
			border: 0;
			margin-bottom: $grid-gutter-width;
			@include make-col-ready();

			// Mobile view
			@include media-breakpoint-down(sm) {
				margin-bottom: $grid-gutter-width / 2;
			}

			@include media-breakpoint-up(sm) {
		    @include make-col(12);
		  }

		  @include media-breakpoint-up(lg) {
		    @include make-col(6);
		  }

			// Item Inner
			.room_result-inner {
				border: 1px solid $border-color;
				position: relative;

				.vblistroomblock {
					border-right: 0;
					float: none;
					width: 100%;
				}

				// Intro Image
				.vbimglistdiv {
					flex: 0 0 100%;
				}

				// Content
				.vbo-info-room {
					border-bottom: 1px solid $border-color;
					padding: $grid-gutter-width;

					// Mobile view
					@include media-breakpoint-down(sm) {
						padding: $grid-gutter-width / 2;
					}

					// Title
					.vbrowcname {
						font-size: $h3-font-size;
					}

					// Info Room
					.vbo-room-carats {
						margin-top: $spacer;

						.vbo-room-carat {
							background: $border-color;
							display: inline-block;
							text-align: center;
							line-height: 30px;
							height: 30px;
							margin-right: $grid-gutter-width / 4;
							margin-bottom: $grid-gutter-width / 4;
							width: 30px;

							.vbo-icn-carat {
								color: $yellow;
								font-size: 12px;
							}
						}
					}
				}

				// Action
				.vbcontdivtot {
					border: 0;
					padding: $grid-gutter-width;
					position: static;

					// Mobile view
					@include media-breakpoint-down(sm) {
						padding: $grid-gutter-width / 2;
					}

					.vbselectordiv {
						border: 0;
						width: 100%;
					}

					// Capacity
					.vbrowroomcapacity {
						position: absolute;
						top: $grid-gutter-width / 2;
						left: $grid-gutter-width / 2;

						i.fa-male {
							color: $white;
							font-size: 12px;
							opacity: 0.7;
							margin-left: 1px;
						}
					}

					// Price
					.vbdivtotinline .vbsrowpricediv {
						padding: 0;

						.room_cost {
							font-size: 33px;
						}
					}
				}
			}
		}
	}

	// Detail Room
	.vbrdetboxtop {
		.vblistroomnamediv {
			padding: 0;
			margin-bottom: $grid-gutter-width/2;
			border: none;
			display: flex;
			flex-direction: column;

			// Name
			.vblistroomname {
				color: $headings-color;
				font-size: $h3-font-size;
				font-weight: 400;
				order: 2;
			}

			// Category
			.vblistroomcat {
				color: $headings-color;
			}
		}

		.vbroomimgdesc {
			margin-bottom: $grid-gutter-width;
		}

		.vbo-rdet-descprice-block {
			background: $gray-100;
			border-color: $border-color;
			margin-bottom: $grid-gutter-width;

			.vbo-rdet-desc-cont {
				padding: $grid-gutter-width 40px $grid-gutter-width 0;
				border-color: $border-color;
			}

			.vb_detcostroomdet {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.vb_detcostroom {
					padding: 0;

					.vblistroomnamedivprice {
						padding: 0;

						.vblistroomname {
							padding: $grid-gutter-width/2;
						}

						// Title
						.vbliststartfromrdet {
							margin-bottom: 10px;
							font-size: $h5-font-size;
							text-transform: capitalize;
						}

						// Price
						.room_cost {
							font-weight: 800;
							color: $red;
							font-size: $h3-font-size;
							line-height: 1;
						}
					}
				}
			}
		}
	}

	// Detail Packages
	.vbo-pkgdet-container {
		.vbo-pkgdet-topwrap {
			.vbo-pkgdet-img {
				margin-bottom: $grid-gutter-width/2;
			}

			.vbo-pkgdet-descrprice-block {
				border-color: $border-color;
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.vbo-pkgdet-descr {
					padding: $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width/2 0;
				}

				.vbo-pkgdet-cost {
					padding: $grid-gutter-width $grid-gutter-width/2;
					.vbo-pkglist-pkg-price {
						font-weight: 800;
						color: $red;
						font-size: 24px;
						line-height: 1;
					}
				}
			}

			.vbo-pkgdet-condsdates-block {
				margin-bottom: $grid-gutter-width;

				.vbo-pkgdet-conds {
					border-radius: $border-radius;
					border-width: 1px;
				}

				.vbo-pkgdet-dates {
					border: none;
				}
			}
		}

		.vbo-pkgdet-roomslist {
			.vbo-pkgdet-room-container {
				+.vbo-pkgdet-room-container {
					margin-top: $grid-gutter-width;
				}
			}
		}

		.vbo-pkgdet-roomswrap {
			.vbo-pkgdet-room-outer {
				flex-wrap: wrap;
				
				.vbo-pkgdet-room-img {
					img {
						margin: 0;
						object-fit: cover;
						height: 100%;
						width: 100%;
					}
				}

				.vbo-pkgdet-room-booknow {
					padding: $grid-gutter-width $grid-gutter-width/2;

					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
	}
	

	// Calendar
	.vbo-availcalendars-cont {
		>h4 {
			margin: 0;
		}

		.vbselectm {
			//height: $input-height;
		}

		.vblegendediv {
			.vblegenda {
				.vblegenda-lbl {
					font-weight: 500;
				}
			}
		}

		.vbcalsblock {
			table {
				tr {

					// Title
					td {
						strong {
							color: $white;
						}
					}

					&.vbcaltrmonth {
						

						td {
							padding: $grid-gutter-width/3 !important;

							.vbo-rdet-avcal-nav {
								background: transparent;
								padding: 0;
								font-size: 20px;
								line-height: 1;
							}

							.vbo-rdet-avcal-nav-next {
								right: 5px;
							}

							.vbo-rdet-avcal-nav-prev {
								left: 5px;
							}
						}
					}
				}
			}
		}
	}

	.vbo-availability-controls {
		select {
			font-size: 16px !important;
		}
	}

	.vbo-seldates-cont {
		>h4 {
			color: $headings-color;
			padding: 0 0 $grid-gutter-width/3;
			margin-bottom: $grid-gutter-width/2;
			margin-top: 0;
		}

		.vbo-room-details-booking-wrapper {
			.vbo-search-num-aduchild-block {
				width: auto;
				margin-right: $grid-gutter-width/2;
			}

			.vbo-search-submit {
				align-self: flex-end;
			}

			// Buton
			input.vbdetbooksubmit {
				padding: 1rem 2rem !important;

				&:hover {
					color: $white;
					opacity: 0.9;
				}
			}
		}
	}

	// Step
	.vbstepsbarcont {
		ol {
			li {
				a {
					color: $headings-color;
					font-weight: 600;
				}

				&:before,
				&:after {

				}

				&.vbo-step-current {
					&:before {
						
					}
				}

				&.vbo-step-next {
					
				}
			}
		}
	}


	.vbo-showprc-head-wrapper {
		.vbo-showprc-wrapper {
			margin-top: 0;

			.vbo-showprc-room-block {
				width: 100%;

				.vbo-showprc-roomname {
					color: $headings-color;
					text-transform: unset;
					font-size: $h4-font-size;
				}
			}

			.room_prices {
				margin-top: $grid-gutter-width/2;

				>h4 {
					margin-top: 0;
					color: $headings-color;
					text-transform: unset;
					font-size: $h4-font-size;
				}

				label {
					color: $headings-color;
				}
			}

			.vbo-showprc-price-entry-cost {
				color: $headings-color;
				font-weight: 700;

			}

			.room_options {
				>h4 {
					color: $headings-color;
					text-transform: unset;
					font-size: $h4-font-size;
				}

				.vbo-showprc-optionstable {
					.vbo-showprc-option-entry-cost {
						color: $red;
						font-weight: 700;
					}
				}
			}
		}
	}

	.vbo-oconfirm-middlep {
		input, .btn {
			//height: $input-height;
		}

		.vbo-pincode-sbmt,
		.vbsubmitcoupon {
			border-radius: $border-radius;
			font-size: $font-size-base;
		}
	}

	.vbcustomfields {
		.vbo-oconfirm-cfield-entry {
			padding: 0;
			margin-bottom: $grid-gutter-width/2;

			.vbseparatorcf {
				text-transform: capitalize;
				font-weight: 600;
				color: $headings-color;
				font-size: 22px;
			}
		}

		label {
			color: $headings-color;
			font-weight: 600;
		}

		.vbo-oconfirm-cfield-entry {
			margin-top: 0;

			.vbf-countryinp {
				width: 100% !important;
			}
		}
	}

	// Login
	.vbo-operators-login-wrap {
		input {
			margin-bottom: $grid-gutter-width/2 !important;
		}

		.vbo-operators-authcode {
			border-radius: $border-radius;
			padding: $grid-gutter-width;
			margin-right: $grid-gutter-width/2;
			margin-left: 0;

			input[type="text"] {
				padding: $grid-gutter-width/2;
			}

			// Landscape phones
			@include media-breakpoint-down(sm) {
				margin: 0 0 $grid-gutter-width;
				width: 100%;
			} 
		}

		.loginblock {
			border-radius: $border-radius;
			padding: $grid-gutter-width;
			margin-left: $grid-gutter-width/2;
			margin-right: 0;

			// Landscape phones
			@include media-breakpoint-down(sm) {
				margin: 0;
				width: 100%;
			}

			h3 {
				font-size: $h3-font-size;
				margin-top: 0;
				color: $headings-color;
				text-transform: capitalize;
			}
		}
	}

	.loginregistercont {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		h3 {
			color: $headings-color;
		}

		table {
			width: 100%;

			tr {
				td {
					&:first-child {
						padding-right: $grid-gutter-width/2;
					}
				}
			}
		}

		.registerblock,
		.loginblock {
			padding: $grid-gutter-width;
			margin-left: $grid-gutter-width/2;

			// Landscape phones
			@include media-breakpoint-down(md) {
				width: 100%;
			}

			// Portrait phones
			@include media-breakpoint-down(xs){
				padding: $grid-gutter-width/2;
			}

			input[type="submit"] {
				margin-top: $grid-gutter-width;
			}
		}

		.registerblock {
			// Landscape phones
			@include media-breakpoint-down(md) {
				margin: 0 0 $grid-gutter-width;
			}
		}

		.loginblock {

			// Landscape phones
			@include media-breakpoint-down(md) {
				margin: 0;
			}
		}
	}

	// Packages and Offers
	.vbo-pkglist-container {

		.vbo-pkglist-pkg {
			border: 1px solid $border-color;
		}

		//Image
		.vbo-pkglist-pkg-bone {
			.vbo-pkglist-pkg-img {
				height: 100%;

				img {
					object-fit: cover;
					height: 100%;
				}
			}
		}

		.vbo-pkglist-pkg-btwo {
			border-right-color: $border-color;
			padding: 40px $grid-gutter-width;

			// Mobile view
			@include media-breakpoint-down(sm) {
				padding: $grid-gutter-width / 2;
			}

			// Title
			.vbo-pkglist-pkg-name {
				color: $headings-color;
				line-height: 1.2;
				font-size: $h3-font-size;
			}
		}

		.vbo-pkglist-pkg-dates-cont {
			margin-top: $grid-gutter-width;

			.vbo-pkglist-pkg-dates {
				background: transparent;
				border: none;
				border-radius: $border-radius;
				color: $red;
				display: flex;
				align-items: center;
				font-size: $h5-font-size;
				font-weight: 700;
				float: left;
				padding: 0;

				.vbo-pkglist-pkg-dates-lbl {
					margin-right: 5px;
					font-size: $h5-font-size;
				}
			}
		}

		.vbo-pkglist-pkg-bthree {
			border-left: 1px solid $border-color;
			padding: 40px $grid-gutter-width;

			// Mobile view
			@include media-breakpoint-down(md) {
				border-top: 1px solid $border-color;
				border-left: 0;
				padding: $grid-gutter-width;
			}

			@include media-breakpoint-down(sm) {
				padding: $grid-gutter-width / 2;
			}

			.vbo-pkglist-pkg-cost {
				.vbo-pkglist-pkg-price {
					display: flex;
					font-size: $h3-font-size;
					justify-content: center;
					color: $red;
					font-weight: 600;
				}
			}

			.vbo-pkglist-pkg-details {
				a {
					border-radius: $border-radius;
					text-transform: uppercase;
					margin-top: $grid-gutter-width / 2;
					font-weight: 700;
					font-size: 14px;

					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
	}

	// Room availability
	.vbo-availability-room-container {
		border: 1px solid $border-color;

		.table > tbody > tr > td {
			border-top: 1px solid $border-color;
		}

		.vbo-availability-room-details {
			display: block;


			.vbo-availability-room-details-first {
				border-right: 1px solid $border-color;

				// Tablet view
				@include media-breakpoint-down(md) {
					border-right: 0;
					width: 100%;
				}

				// Intro Image
				.vbo-availability-room-details-left {
					margin-right: $grid-gutter-width;

					// Tablet view
					@include media-breakpoint-down(md) {
						margin-right: 0;
						width: 100%;
					}

					img {
						object-fit: cover;
						object-position: center center;
						min-height: 240px;
					}
				}

				// Content Info
				.vbo-availability-room-details-right {
					padding-top: $grid-gutter-width;

					// Tablet view
					@include media-breakpoint-down(md) {
						padding: $grid-gutter-width / 2;
					}

					// Title
					h4 {
						margin-top: 0;
						font-size: 30px;

						// Mobile view
						@include media-breakpoint-down(sm) {
							font-size: $h4-font-size;
						}
					}

					// Info Room
					.vbo-room-carats {						
						.vbo-room-carat {
							background: $border-color;
							display: inline-block;
							text-align: center;
							line-height: 30px;
							height: 30px;
							margin-right: $grid-gutter-width / 4;
							margin-bottom: $grid-gutter-width / 4;
							width: 30px;

							.vbo-icn-carat {
								color: $yellow;
								font-size: 12px;
							}
						}
					}
				}
			}


			.vbo-availability-room-details-last {
				border-left: 1px solid $border-color;
				left: -1px;

				// Tablet view
				@include media-breakpoint-down(md) {
					border-left: 0;
					border-top: 1px solid $border-color;
					padding: $grid-gutter-width / 2;
					width: 100%;

					.vbo-availability-room-details-last-inner {
						margin: 0;
						width: 100%;
					}
				}
			}
		}

		// Month Availability
		.vbo-availability-room-monthcal {
			.vbo-availability-month-name {
				background: $headings-color;
				color: $white;
				text-transform: uppercase;
				font-weight: 700;
			}
		}

		// Action
		.vbo-availability-room-details-last-inner {
			.btn {
				background: #f0f3ff;
				border-radius: 0;

				&:hover,&:focus,&:active {
					background: darken(#f0f3ff,5%);
				}
			}
		}

		.vbo-availability-room-details-last-checkin {
			color: $headings-color;

			i {
				background: $headings-color;
				color: $white;
			}
		}
	}

	// Alert
	#vbo-alert-container-confirm {
		top: 50%;
		left: 50%;
		right: auto;
		max-width: 500px;
		z-index: 100;
		transform: translate(-50%, -50%);
		width: 95%;
	}
}

// MODULE STYLE
.vbmodroomscontainer {
	.owl-stage {
		// Fix height
		@media (min-width: 801px) {
			display: flex;
		}
	}

	.owl-stage-outer {
		padding: 0 1px;
	}

	.vbmodrooms-item {
		border: 1px solid $border-color;
		padding: 0;
		margin: 0;
		height: 100%;
	}

	.vbmodroomsboxdiv {
		position: relative;
		
	}

	// Content
	.vbinf {
		padding: $grid-gutter-width;
		text-align: center;

		// Mobile view
		@include media-breakpoint-down(md) {
			padding: $grid-gutter-width / 2;
		}

		.vbmodrooms-divblock {
			border: 0;
			padding: 0;
			margin: 0;
		}

		// Title
		.vbmodroomsname {
			color: $headings-color;
			font-size: $h3-font-size;
			font-weight: 400;
		}

		// Category
		.vbmodroomsbeds {
			background: $yellow;
			color: $white;
			position: absolute;
			top: $grid-gutter-width / 2;
			right: $grid-gutter-width / 2;
			font-size: 12px;
			font-weight: 700;
			padding: 3px 7px;
			text-transform: uppercase;
		}

		span.vbmodroomscat {
			display: block;
		}

		// Price
		.vbmodroomsroomcost {
			color: $red;
			margin-bottom: 0;
			margin-top: $grid-gutter-width / 2;
			font-weight: 800;
			font-size: 30px;
			text-align: center;
		}

		// Info Room
		.vbmodrooms-carats {
			margin-top: $grid-gutter-width;
			
			.vbo-room-carat {
				background: $border-color;
				color: $yellow;
				display: inline-block;
				font-size: 12px;
				text-align: center;
				line-height: 30px;
				height: 30px;
				margin-right: $grid-gutter-width / 4;
				margin-bottom: $grid-gutter-width / 4;
				width: 30px;
			}
		}
	}

	// Action
	.vbmodroomsview {
		padding: 0 $grid-gutter-width $grid-gutter-width;
		margin: 0;

		// Mobile view
		@include media-breakpoint-down(md) {
			padding: 0 $grid-gutter-width / 2 $grid-gutter-width / 2;
		}

		a {
			background: $gray-100;
			border-radius: $border-radius;
			border: 0;
			color: $headings-color!important;
			padding: $grid-gutter-width / 2 $grid-gutter-width;
			text-transform: uppercase;
			font-weight: 700;
			font-size: $btn-font-size;
			width: 100%;

			&:hover,&:focus,&:active {
				text-decoration: none;
			}
		}
	}

	// Owl Control
	.owl-carousel {
		div.owl-nav {
			display: flex;
			justify-content: center;
			margin-top: $spacer;

			button {
				background: $headings-color;
				color: $white;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				padding: $grid-gutter-width / 4 $grid-gutter-width / 2!important;
			}

			&.owl-disabled {
				display: none;
			}
		}

		div.owl-dots {
			display: flex;
			justify-content: center;
			margin-top: $grid-gutter-width / 2;

			button {
				span {
					background: $gray-300;
					border-radius: 50%;
					display: inline-block;
					height: 8px;
					width: 8px;
				}

				&.active {
					span {
						background: $headings-color;
					}
				}
			} 
		}
	}
}

// Search
.vbmodhorsearchmaindiv {
	.ui-datepicker td span, .ui-datepicker td a {
		line-height: 1.3;
	}

	&.vbo-horizsearch-standardformat-wrap {

		// Label
		label {
			color: $yellow;
			font-weight: 700;
			margin-bottom: $grid-gutter-width / 2;
			margin-top: $grid-gutter-width / 2;
		}

		// Form Input
		.input-group {
			input { 
				background: transparent;
				border-radius: $border-radius;
				border: 1px solid #4359BA;
				color: $white;
				cursor: pointer;
				width: 320px!important;
				height: 60px!important;

				// Mobile view
				@include media-breakpoint-down(xs) {
					width: 240px!important;
				}
			}

			.vbo-caltrigger {
				background: transparent;
				border: 0;
				color: $white;
				position: absolute;
				top: 12px;
				right: 10px;
			}
		}

		// Select
		.vbmodhorsearchrac .horsanumsel select,
		.vbmodhorsearchrac .horscnumsel select,
		.vbhsrnselsp select,
		.vbhsrcselsp select,
		.vbmodhorsearchroomdentr .horsanumdiv select,
		.vbmodhorsearchroomdentr .horscnumdiv select,
		.vbmodhorsearchcategoriesblock select {
			background-color: transparent;
			background-image: url('../images/arrow-down.png');
			background-size: 8px 4px;
			border: 1px solid #4359BA;
			border-radius: $border-radius;
			color: $white;
			cursor: pointer;
			padding: $spacer;
			height: 60px!important;
			min-width: 60px;
			text-align: center;

			option {
				color: $headings-color;
			}
		}

		.vbmodhorsearchroomdentrfirst .horsrnum {
			margin-top: 70px;
		}

		.vbmoreroomscontmod .horsrnum {
			margin-top: 17px;
		}

		.vbmodhorsearchtotnights {
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0.7;
		}

		// Action
		.vbmodhorsearchbookdiv {
			// Mobile view
			@include media-breakpoint-down(xs) {
				float: none;
				display: block;
				clear: both;
			}
		}
		.vbsearchinputmodhors {
			border-radius: $border-radius;
			height: 60px;
			padding: $spacer / 2 $grid-gutter-width;
			margin: 55px 0 0;

			// Mobile view
			@include media-breakpoint-down(xs) {
				margin-top: $spacer;
			}
		}
	}

	// Type humanformat
	&.vbo-horizsearch-humanformat-wrap {
		// Label
		label {
			color: $yellow;
			font-weight: 700;
			margin-bottom: $grid-gutter-width / 2;
		}

		.vbo-horizsearch-placeholder {
			font-size: $font-size-base;
		}

		.vbo-horizsearch-showcalendar,
		.vbmodhorsearch-hum-guests-count,
		.vbmodhorsearchcategoriesblock select,
		.vbo-horizsearch-numnights-inner {
			background: transparent;
			border-radius: $border-radius;
			border: 1px solid #4359BA;
			color: $white;
			height: 60px!important;

			&:hover,
			&:focus,
			&:active {
				border-color: #4359BA;
			}
		}

		.vbo-horizsearch-period-dt {
			max-width: 100%;
			flex-wrap: nowrap;
		}

		// Dropdown
		.vbmodhorsearch-hum-guests-modifier {
			color: $body-color;

			label {
				margin: 0;
			}
		}

		.hasDatepicker a {
			color: $body-color;
		}

		.vbsearchinputmodhors {
			border-radius: $border-radius;
			height: 60px;
			padding: $spacer / 2 $grid-gutter-width;
			margin: 0;
		}

		// Action
		.vbmodhorsearchbookdiv {
			margin-top: $spacer;
		}
	}
}