<!-- HEADER BLOCK -->
<header id="t4-header-wrap" class="t4-header">
  <div class="t4-topbar d-none d-lg-flex">
          <div class="container">
            <jdoc:include type="modules" name="topbar" />
            <jdoc:include type="modules" name="languages" />
          </div>
        </div>
<div class="container">
  <div class="t4-header-inner">
    <div class="row no-gutters d-flex justify-content-between flex-nowrap">
      <div class="col-auto t4-logo-header mr-auto mr-lg-0">
        <jdoc:include type="element" name="logo" />
      </div>
      <div class="col-auto t4-megamenu-wrap col-xl-10 d-flex justify-content-end align-items-center">
        <div class="t4-navbar">
          <jdoc:include type="element" name="megamenu" />
        </div>
		<div class="t4-header-right d-flex align-items-center">
      	        <jdoc:include type="element" name="offcanvas-toggle" />
      	        <jdoc:include type="element" name="megamenu-toggle" />
                <div class="d-none d-sm-flex">
                  <jdoc:include type="modules" name="head-actions" />
                </div>
      	      </div>
      </div>
    </div>
  </div>
    </div>
</header>
<!-- // HEADER BLOCK -->