.__class .bg-pattern {
	background-color: __background_color;
}

/*PATTERN*/
.__class {
	background-color: __background_color;
	color: __text_color;
}

.__class {
	color: __text_color;
}

.__class .color-palette {
	color: __text_color;
}

.__class a:not(.btn) {
	color: __link_color;
}

.__class a:not(.btn):hover,
.__class a:not(.btn):focus,
.__class a:not(.btn):active {
	color: __link_hover_color;
}

.__class.wave-bottom:after {
	background-color: __background_color!important;
}

.__class.section-border-top:before,
.__class.section-border-bottom:before {
	background: rgba(255,255,255,0.1);
}

/*Pattern nav*/
.__class .navbar-nav > li > a {
	color: __link_color!important;
}

.__class .navbar-nav > li.active > a,
.__class .navbar-nav > li.show > a,
.__class .navbar-nav > li > a:hover,
.__class .navbar-nav > li > a:focus,
.__class .navbar-nav > li > a:active {
	color: __link_hover_color!important;
}

.__class .navbar-nav > li > a .item-caret {
	border-top-color: __link_color!important;
}

.__class .navbar-nav > li.active > a .item-caret,
.__class .navbar-nav > li.show > a .item-caret,
.__class .navbar-nav > li > a:hover .item-caret,
.__class .navbar-nav > li > a:focus .item-caret,
.__class .navbar-nav > li > a:active .item-caret {
	border-top-color: __link_hover_color!important;
}

