<!-- HEADER BLOCK -->
<header id="t4-header-wrap" class="t4-header">
  <div class="container-hd">
    <div class="row no-gutters d-flex flex-nowrap t4-header-inner">
      <div class="d-none d-xl-flex head-info-wrap col-hd-2">
        <div class="head-info">
          <jdoc:include type="modules" name="head-info" />
        </div>
      </div>

      <div class="mainnav-wrap d-flex col-12 col-lg-10 col-hd-8">
        <div class="logo-wrap">
          <jdoc:include type="element" name="logo" />
        </div>

        <div class="menu-wrap d-flex align-items-center">
          <jdoc:include type="element" name="megamenu" />

          <jdoc:include type="element" name="offcanvas-toggle" />
        </div>
      </div>

      <div class="d-none d-lg-block col-2 col-hd-2 text-right">
        <div class="head-action">
          <jdoc:include type="modules" name="head-action" />
        </div>
      </div>
      </div>
  </div>
</header>
<!-- // HEADER BLOCK -->